h1, h2, p {
    text-align: center;
    color: rgb(1, 22, 0);
  }
.powerwash {
    display: block;
    border-radius: 10px;
    margin: auto;
}
.ninja {
    display: block;
    border-radius: 10px;
    margin: auto;
}   
.menu {
    width: 80%;
    max-width: 500px;
    background-color: rgb(29, 78, 19);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
hr {
    height: 2px;
    background-color: black;
    border-color: black;
}
body {
    background-color: black;
    font-family: sans-serif;
    padding: 20px;
}
.established {
    font-style: italic;
}
h1, h2{
    font-family: impact, serif;
}
h1 {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 15px;
  }
h2 {
    font-size: 30px
  }
.service {
    text-align: left;
    width: 75%;
    font-style: bold;
}
.link {
    font-size: 14px;
    font-size: normal;
    margin-bottom: 30px;
}
.price {
    text-align: right;
    width: 25%;
    font-style: bold;
}
.services p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}
.bottom-line {
    margin-top: 25px;
}
/* FOOTER */
footer {
    font-size: 14px;
}
address {
    font-size: normal;
}
.address {
    margin-bottom: 5px;
}
a {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: greenyellow;
}
a:active {
    color: white;
}
